/* Default = Dark */

body{
    background-color: var(--bg-1);
}
:root {
  --bg-1: #0b1023;
  --bg-2: #121a3a;

  --surface-1: rgba(255, 255, 255, 0.06);
  --surface-border: rgba(255, 255, 255, 0.05);

  --text-1: #ffffff;
  --text-2: rgba(255, 255, 255, 0.70);

  --accent-1: #8b5cf6;
  --accent-2: #c084fc;

  --bar-track: rgba(255, 255, 255, 0.10);
  --chip-bg: rgba(255, 255, 255, 0.08);
}

/* Light Mode لما نحط class */
.theme-light {
  --bg-1: #f5f7ff;
  --bg-2: #e9edff;

  --surface-1: rgba(255, 255, 255, 0.65);
  --surface-border: rgba(0, 0, 0, 0.06);

  --text-1: #0b1023;
  --text-2: rgba(11, 16, 35, 0.65);

  --accent-1: #6d28d9;
  --accent-2: #a855f7;

  --bar-track: rgba(0, 0, 0, 0.10);
  --chip-bg: rgba(0, 0, 0, 0.06);
}